.joystick {
  position: relative;
  width: 100px;
  height: 100px;
}

.gameboy {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  padding: 20px;
  font-family: sans-serif;
  -webkit-user-select: none;
  cursor: default;

  pointer-events: all;

  button {
    display: block;
    border-style: inset;
    border: none;
    padding: 0;
  }

  .controls {
    padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
    width: 100%;
    display: flex;
    justify-content: space-between;

    > div {
      pointer-events: all;
    }

    .right-side {
      position: relative;
    }

    .button {
      flex: 1 0 auto;
      width: 60px;
      height: 60px;
      display: block;
      background: black;
      opacity: 0.33;
      border-radius: 50%;

      font-size: 26px;
      color: white;
    }

    .b-button {
      margin: 0 0 15px 0;
    }

    .button-container {
      position: absolute;
      right: 102px;
      bottom: 40px;
      transform: rotate(13deg);
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
}

* {
  box-sizing: border-box;
  touch-action: manipulation;
}
