* {
  user-select: none;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: -apple-system, "system-ui", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* disable all zooming, panning, etc. on mobile */
  touch-action: none;
}

canvas {
  background-color: black;
}

.joystick {
  position: relative;
  width: 100px;
  height: 100px;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.gameboy {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  padding: 20px;
  user-select: none;
  cursor: default;

  pointer-events: none;

  button {
    display: block;
    border-style: inset;
    border: none;
    padding: 0;
  }

  .controls {
    padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;

    pointer-events: all;

    .right-side {
      position: relative;
    }

    .button {
      flex: 1 0 auto;
      width: 60px;
      height: 60px;
      display: block;
      background: black;
      opacity: 0.33;
      border-radius: 50%;

      font-size: 26px;
      color: white;
    }

    .y-button {
      margin-left: 96px;
    }

    .b-button {
      margin: 0 0 15px 0;
    }

    .button-container {
      position: absolute;
      right: 45px;
      bottom: 90px;
      transform: rotate(13deg);
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.block-preview-container {
  background: rgb(0, 0, 0, 0.33);
  padding: 6px;
  width: 60px;
  height: 60px;
  border-radius: 6px;
}

#block-preview-canvas {
  width: 100%;
  height: 100%;
  background: transparent;
  image-rendering: pixelated;
}

.portrait-orientation-warning {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background: rgba(255, 255, 255, 0.9);
  color: black;
  font-size: 24px;
  font-weight: bold;

  display: none;
  z-index: 1000;
}

* {
  box-sizing: border-box;
  touch-action: manipulation;
}